.check {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-header {
    text-align: center;
}